body
{
background-image: url("/static/ChatPage.jpg");
background-repeat: no-repeat;
background-size: cover;
font-family: Garamond;
}
h1
{
color: mediumblue;
margin-bottom: 0;
margin-top: 0;
text-align: center;
font-weight: bold;
font-size: 40px;
/* background-image: linear-gradient(to bottom right, rgb(7, 44, 211), rgb(0, 255, 242)); */
}
h3
{
color: black;
font-size: 20px;
margin-top: 3px;
text-align: center;
}
#chatbox
{
margin-left: auto;
margin-right: auto;
width: 60%;
margin-top: 60px;
}
#userInput {
margin-left: auto;
margin-right: auto;
width: 60%;
margin-top: 60px;

vertical-align:middle;
}
#textInput {
width: 100%;
border: none;
color: rgb(21, 58, 219);
background-image: linear-gradient(to bottom right, rgb(14, 222, 236),rgb(127, 177, 201));
border-bottom: 3px solid rgb(21, 58, 219);
font-family: monospace;
font-size: 17px;
vertical-align:middle;
}
#buttonInput {
    width: 30px;
    height: 30px; 
    float:bottom;
}
#voiceInput {
    width: 30px;
    height: 30px;
   
}
.userText {
color: white;
font-family: monospace;
font-size: 17px;
text-align: right;
line-height: 30px;
}
.userText span {
background-color: #A7414A;
padding: 10px;
border-radius: 2px;
}
.botText {
color: white;
font-family: monospace;
font-size: 17px;
text-align: left;
line-height: 30px;
}
.botText span {
background-color: #0da508;
padding: 10px;
border-radius: 2px;
}
#tidbit {
position:absolute;
bottom:0;
right:0;
width: 300px;
}
