body
{
background-repeat: no-repeat;
background-image: url("/static/ChatPage.jpg");
font-family: Garamond;
background-size: cover;
background-position: left top;
background-attachment: fixed;
}
h1
{
color: rgb(243, 247, 243);
margin-bottom: 0;
margin-top: 5px;
text-align: center;
font-weight: bold;
font-size: 40px;
background-color:#0e2c12 ;
padding-left: 10px;
background-size: 40px;
height: 60px;
}
h3
{
color: black;
font-size: 20px;
margin-top: 3px;
text-align: center;
}
#chatarea
{
    width :65%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
    max-height: 500px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#chatbox
{
margin-left: auto;
margin-right: auto;
width: 95%;


}
#userInput {
border-radius: 10px;
margin-left: auto;
margin-right: auto;
width: 95%;
margin-top: 60px;
vertical-align:middle;
}
#textInput {
width: 85%;
color: rgb(0, 0, 0);
background-color: rgba(248, 203, 2, 0.89);
font-family: monospace;
font-size: 18px;
height: 25px;
}
#buttonInput {
    width: 30px;
    height: 30px; 
    float:bottom;
}
#voiceInput {
    width: 30px;
    height: 30px;
   
}
.userText {
color: black;
font-family: monospace;
font-size: 14px;
text-align: right;
line-height: 30px;
}
.userText span {
background-color: #117722;
color: white;
padding: 10px;
border-radius: 2px;
}
.botText {
color: white;
font-family: monospace ;
font-size: 14px;
text-align: left;
line-height: 30px;
}
.botText span {
background-color: #772121;
padding: 10px;
border-radius: 2px;
}
#tidbit {
position:absolute;
bottom:0;
right:0;
width: 300px;
}
