<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Farm Friendly Software Agent</h1>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Hi! I'm Farmer's Assistant.I will help you solving your doubts regarding Agriculture </span></p>
     </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Ask me anything">
        <input id="buttonInput" type="image"  src="../static/text_icon.png" value="Send">
        <input id="voiceInput" type="image" value="Ask" src="../static/speech_icon.png">
      </div>
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        function getSpeechResponse(speechdata){
          var userHtml= '<p class="userText"><span>' + speechdata + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: speechdata }).done(function(data) {
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }

        function getError(){
          var botHtml = '<p class="botText"><span>' + "Could not understand audio, Please try again" + '</span></p>';
          $("#chatbox").append(botHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
        }

        $("#textInput").keypress(function(e) {
            if(e.which == 13) {
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
          getBotResponse();
        })

        $("#voiceInput").click(function() {
          $("#textInput").val("Speak to ask question");
          $.get("/speech").done(function(data){
            if(data == "error")
            {
              getError();
            }
            else{

              $("#textInput").val(data);
              getSpeechResponse(data);
            }
          })
				});
        

      </script>
    </div>
  </body>
</html>
